/* This file is for your main application css. */

@import "./phoenix.css";

.my-hero {
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  background: #eee;
  border-radius: 6px;
  font-weight: 200;
  font-size: 120%;
}
